Name="Navi"
PronounSubject="she"
PronounObject="her"
PronounReflexive="herself"
NAVI_USER_NAME="User"
NAVI_USER_NAME_PRONUNCIATION=""
NAVI_REPLICATION_LOCAL_DIR=""
NAVI_REPLICATION_REMOTE_HOST=""
NAVI_REPLICATION_REMOTE_DIR=""
NAVI_REPLICATION_QUIESCE_HELPER=""
